* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;800&family=Tilt+Warp&display=swap');

:root {
  --purple: #232946;
  --pink: #eebbc3;
  --skyblue: #b8c1ec;
  --white: #fffffe;
  --blue: #121629;
  --secondary-bluesky: #d4d8f0;
  --secondary-pink: #d4939d;
}

html{
  scroll-padding-top: 80px;
  scroll-behavior: smooth
}

/*Fonts*/

/*Text*/

/*font-family: 'Golos Text', sans-serif;*/

/*Titles*/

/*font-family: 'Tilt Warp', cursive;*/

/*Header*/

.header{
  height: 75px;
  background-color: var(--purple);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

  
.navbar-list {
  display: flex;
  gap: 80px;
  margin-right: 20px;
}

.navbar-list a {
  font-family: 'Golos Text', sans-serif;
  color: var(--skyblue);
  text-decoration: none;
  font-weight: 600;
}

.shnow-icon {
  height: 75px;
  margin-left: 20px;
  
}

/*Main*/

.main {
  margin-top: 75px;
  height: 100%;
  background: url(./hero/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
}

.hero h1 {
  font-family: 'Tilt Warp', cursive;
  color: var(--secondary-pink);
  font-size: 60px;
}

.hero p {
  color: var(--skyblue);
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
}

.hero-info{
  font-family: 'Jost', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

/*Beneficios*/

#about-us {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.about-us {
  display: flex;
  width: 80%;
  text-align: center;
  margin-top: 75px;
  height: 1200px;
  gap: 200px;
}

.about-us img {
  height: 500px;
  width: 500px;
}

.about-us-info{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 60%;
}

.about-us-info h2 {
  color: var(--pink);
  font-size: 40px;
  font-family: 'Tilt Warp', cursive;
}

.about-us-info p {
  color: var(--skyblue);
  font-family: 'Golos Text', sans-serif;
}

.icon-download {
  color: var(--skyblue);
  font-size: 40px;
}

.about-us-statistic {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.statistic {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.statistic h3 {
  background: linear-gradient(90deg, rgba(184,193,236,1) 27%, rgba(238,187,195,1) 78%);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Golos Text', sans-serif;
  font-weight: 900;
  font-size: 60px;
}

.about-us-download {
  background: linear-gradient(90deg, rgba(184,193,236,1) 27%, rgba(238,187,195,1) 78%);
  border: none;
  border-radius: 20px;
  width: 150px;
  padding: 10px;
  color: var(--purple);
  font-family: 'Golos Text', sans-serif;
  text-decoration: none;
  font-weight: 800;
}

/*Producto*/

#info {
  margin-top: 80px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  height: 100vh;
}

.info h2 {
  color: var(--skyblue);
  font-family: 'Jost', sans-serif;
  font-weight: 900;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card {
  border: 2px solid var(--secondary-pink);
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(35,41,70,1) 42%, rgba(45,67,139,1) 100%);
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
  gap: 20px;
  color: var(--secondary-bluesky);
  font-family: 'Golos Text', sans-serif;
}

.box-card {
  display: flex;
  gap: 50px;
}

.card ul {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  gap: 20px;
}

.suscription-price {
  font-weight: 800;
  font-size: 50px;
}

.card h3 {
  font-size: 30px;
  color: var(--pink);
}

.btn-add {
  border: none;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  color: var(--purple);
  background: linear-gradient(90deg, rgba(184,193,236,1) 27%, rgba(238,187,195,1) 78%);
  font-weight: 600;
  margin: 30px 0px;
}