* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;800&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
  --purple: #232946;
  --pink: #eebbc3;
  --skyblue: #b8c1ec;
  --white: #fffffe;
  --blue: #121629;
  --secondary-bluesky: #d4d8f0;
  --secondary-pink: #d4939d;
}

html{
  scroll-padding-top: 80px;
  scroll-behavior: smooth
}

/*Fonts*/

/*Text*/

/*font-family: 'Golos Text', sans-serif;*/

/*Titles*/

/*font-family: 'Tilt Warp', cursive;*/

/*Header*/

.header{
  height: 75px;
  background-color: var(--purple);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

  
.navbar-list {
  display: flex;
  gap: 80px;
  margin-right: 20px;
}

.navbar-list a {
  font-family: 'Golos Text', sans-serif;
  color: var(--skyblue);
  text-decoration: none;
  font-weight: 600;
}

.shnow-icon {
  height: 75px;
  margin-left: 20px;
  
}

/*Main*/

.main {
  margin-top: 75px;
  background: url(./hero/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  gap: 200px;
  height: 100vh;
}

.hero h1 {
  font-family: 'Bebas Neue', cursive;
  color: var(--white);
  font-size: 60px;
}

.hero p {
  color: var(--skyblue);
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
}

.hero-info{
  font-family: 'Jost', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
}

.hero img {
  height: 550px;
  width: 550px;
}

.btn-hero {
  background: linear-gradient(90deg, rgba(184,193,236,1) 0%, rgba(238,187,195,1) 50%, rgba(212,147,157,1) 100%);
  height: 40px;
  width: 300px;
  border-radius: 10px;
  font-family: 'Jost', sans-serif;
  
}


/*Beneficios*/

#about-us {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.about-us {
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 200px;
  left: 0;
}

.about-us img {
  height: 500px;
  width: 500px;
}

.about-us-info{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 60%;
}

.about-us-info h2 {
  background: linear-gradient(90deg, rgba(184,193,236,1) 0%, rgba(238,187,195,1) 50%, rgba(212,147,157,1) 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 45px;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}

.about-us-info p {
  color: var(--skyblue);
  font-family: 'Golos Text', sans-serif;
}

.icon-download {
  color: var(--skyblue);
  font-size: 40px;
}

.about-us-statistic {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.statistic {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.statistic h3 {
  background: linear-gradient(90deg, rgba(184,193,236,1) 27%, rgba(238,187,195,1) 78%);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Golos Text', sans-serif;
  font-weight: 900;
  font-size: 60px;
}

.btn-download {
  background: linear-gradient(90deg, rgba(184,193,236,1) 27%, rgba(238,187,195,1) 78%);
  border: none;
  border-radius: 20px;
  width: 150px;
  padding: 15px;
  color: var(--purple);
  font-family: 'Golos Text', sans-serif;
  text-decoration: none;
  font-weight: 400;
}

/*Planes*/

#info {
  margin-top: 80px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 100vh;
}

.info h2 {
  background: linear-gradient(90deg, rgba(184,193,236,1) 0%, rgba(238,187,195,1) 50%, rgba(212,147,157,1) 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Abril Fatface', cursive;
  font-weight: 900;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  letter-spacing: 1.5px;
}

.card {
  border: 2px solid var(--secondary-pink);
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(35,41,70,1) 42%, rgba(45,67,139,1) 100%);
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
  gap: 20px;
  color: var(--secondary-bluesky);
  font-family: 'Golos Text', sans-serif;
}

.box-card {
  display: flex;
  gap: 50px;
}

.card ul {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  gap: 20px;
}

.suscription-price {
  font-weight: 800;
  font-size: 50px;
}

.card h3 {
  font-size: 30px;
  color: var(--pink);
}

.btn-add {
  border: none;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  color: var(--purple);
  background: linear-gradient(90deg, rgba(184,193,236,1) 27%, rgba(238,187,195,1) 78%);
  font-weight: 600;
  margin: 30px 0px;
}

/*Contact*/

#contact-us{
  margin-top: 75px;
  width: 100%;
}


.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 200px;
}

.input-help {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  font-family: 'Golos Text', sans-serif;
  color: var(--pink);
}

.input-help-text {
  height: 40px;
  width: 300px;
  border-radius: 4px;
  padding: 5px;
  background-color: var(--secondary-bluesky);
  border: none;
  color: var(--blue);
  font-family: 'Golos Text', sans-serif;
}

.input-help-text::placeholder{
  color: var(--blue);
}

.term {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--secondary-pink);
  font-family: 'Golos Text', sans-serif;
}

.btn-send-t-s{
  height: 40px;
  width: 300px;
  border-radius: 4px;
  background-color: var(--skyblue);
  border: none;
  font-family: 'Golos Text', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.msj-input{
  border-radius: 4px;
  background-color: var(--secondary-bluesky);
  resize: none;
  padding: 10px;
  color: var(--blue);
  font-family: 'Golos Text', sans-serif;
  border: none;
}

.msj-input::placeholder{
  color: var(--blue);
}

.info-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.info-contact{
 display: flex;
 flex-direction: column;
 font-family: 'Golos Text', sans-serif;
 color: var(--secondary-pink);
}

.info-contact ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 7px;
}

.info-map{
 display: flex;
 flex-direction: column;
 gap: 20px;
 align-items: center;
 font-family: 'Golos Text', sans-serif;
 color: var(--secondary-pink);
}

.info-map h3 {
 font-weight: 800;
}

.info-map iframe {
  height: 300px;
  width: 300px;
}

.hr-page {
  width: 100%;
  border-color: var(--green);
}